.planesList {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px, auto));
    gap: 32px;
    outline: 1px solid red;
}

/** backgroundColor: '#ffdb92', // "year" до 1946 */
.planesItem {
    display: grid;
    gap: 12px;
    padding: 10px;
    background-color: #ffdb92;
    outline: 1px solid grey;
}

/** backgroundColor: '#d2fdbd', // "year"  1946 - 1999 - last */
.planesItemLast {
    composes: planesItem;
    background-color: #d2fdbd;
}

/** backgroundColor: '#d6f1ff', // "year" від 2000 - current */

/* todo: var.2  та var.2.1 */
.planesItemCurrent {
    composes: planesItem;
    background-color: #d6f1ff;
}
