.filterBox {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #9c9c9c;
    border-radius: 16px;
    background-color: #c0dec9e9;
    /* outline: 1px red solid; */
}

.button {
    margin: 20px auto;
    padding: 16px 32px;
    display: inline-block;
    align-items: center;
    font-family: Franklin Gothic Medium, Arial Narrow;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    background-color: #008080;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.9);
}

.button:hover {
    color: #d9d902;
    background-color: #902a00;
}

.buttonAllFiltration {
    composes: button;
    outline: 6px green solid;
}

.buttonPlaneFiltration {
    composes: button;
    outline: 6px yellow solid;
}

.buttonHelicopterFiltration {
    composes: button;
    outline: 6px violet solid;
}

