.filterBox {
    display: flex;
    justify-content: space-evenly;
    /* outline: 1px red solid; */
}

.buttonAllFiltration {
    outline: 2px green solid;
}

.buttonPlaneFiltration {
    outline: 2px yellow solid;
}

.buttonHelicopterFiltration {
    outline: 2px violet solid;
}

button {
    margin: 20px auto;
    padding: 16px 32px;
    display: inline-block;
    align-items: center;
    font-family: Franklin Gothic Medium, Arial Narrow;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    background-color: #008080;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.9);
}

/* .button2 {
    composes: button;
    background-color: #803a00;
} */