/* body {
    margin-top: 113px;
} */

.section {
    margin-top: 113px;
}

.bgTitleBox {
    height: 400px;
    background: #100d0d;
    background-image: url(/airplane-model-store3-state1/images/planes-actual/all-7-bg-comp-3.jpg);
    background-position: left 50px;
    background-repeat: repeat-x;
    background-size: auto 350px;
}

.lugrasimoBold {
    font-family: "Lugrasimo", cursive;
    font-weight: 700;
    font-style: normal;
}

.title {
    margin-bottom: 24px;
    font-size: 60px;
    text-align: center;
    color: #d90000;
    /* color: #f7ffbc; */
    text-shadow: 3px 3px 3px #ffdac1;
}

.titleLugrasimoBold {
    composes: lugrasimoBold;
    margin-bottom: 24px;
    font-size: 60px;
    text-align: center;
    color: #d90000;
    /* color: #f7ffbc; */
    text-shadow: 3px 3px 3px #ffdac1;
}

